/* .admin-approval-list-user{
    border: 2px black solid;
    padding: 10px;
    border-radius: 10px;
} */

.admin-approval-list{
    margin-top: 20px;
}

.buttonColor{
    background-color: #A5D09F;
}
.admin-approval-list h2 {
    font-size: 18px;
    margin-bottom: 10px;
    
}

 ul{
    list-style-type: none;
    margin: 20px;
    

    
}

 li {
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.2);
}

p{
    margin-bottom: 5px;
}

button {
    padding: 5px 10px;
   
}
