.admin-panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-panel h2{
    font-size: 20px;
    color: #333333;
    margin-bottom: 15px;
    
}

span h2{
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.2);

}
.admin-panel p {
    margin-bottom: 10px;
    
}
.admin-panel button {
    padding: 8px 15px;
    margin-right: 10px;
    background-color: #b3b492;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin-panel button:hover{
    background-color: #a78972;
    color: white;
}
