h1, h3{
    color: #333333;
    padding: 20px;
    margin: 0;
}
.choix{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 25px;
    
}
.italic {
    font-style: italic;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}
.options{
    border : 1px black solid;
    border-radius: 15px;
    
    padding : 40px;
    background-color: beige;
    margin: 20px;

}

.options a {
    display: block;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    
    padding: 5px;
    margin:25px;
    margin-top: 10px;
    
}
.options p{
    margin-bottom: 15px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.choix main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.choix footer{
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
    text-align: center;
    color: #777777
}
